@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.container {
  background-color: #fff2f4;
  position: absolute;
  height: 100%;
  width: 100%;
}

.wrapper {
  background-image: url("./assets/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
}

.wrapper-signup {
  background-image: url("./assets/bg-register.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
}

.wrapper-osint {
  background-image: url("./assets/bg-osint.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
}
